body{
    background-color: #EEF0E5;
    font-family: "Times New Roman", Georgia, serif;
}
h1{
    color: #163020;
    text-align: center;
}
h2{
    color:#304D30;
}
h3{
    color: #B6C4B6;
}
.start{
    text-align: center;
}